// Janky ass custom keymap. Use at your own risk

#ifndef CI_IGNORE_USER_SETTINGS
  #include "settings.h"   // user settings
#endif

#include "aliases.h"      // defines symbols and actions
#include "bindings.h"     // default SELENIUM_KEYMAP_BINDINGS macro
#include "mappings.dtsi"  // key mapping helpers and macros
#include "hold_taps.dtsi" // defines thumb keys and homerow mods

#undef  HRM_S
#undef  HRM_L
#define HRM_S   &hrm LSFT S
#define HRM_L   &hrm LSFT L

&lt { tapping-term-ms = <175>; };
#define COMBO_TIMEOUT_MS 17
#define COMBO_LOCK_MS 125

#define LAYER_BASE      0
#define LAYER_MIRROR    1
#define LAYER_SYMBOLS   2
#define LAYER_ODK       3
#define LAYER_VIM_NAV   4
#define LAYER_NUM_ROW   5
#define LAYER_GAMING_EL 6
#define LAYER_GAMING_QW 7

#define S_MULT &kp LS(RA(I))

#define X_BASE    &to LAYER_BASE
#define X_GAME_EL &to LAYER_GAMING_EL
#define X_GAME_QW &to LAYER_GAMING_QW

#define X_MUTE  &kp C_MUTE
#define X_VOLUP &kp C_VOL_UP
#define X_VOLDN &kp C_VOL_DN
#define X_BRIUP &kp C_BRI_UP
#define X_BRIDN &kp C_BRI_DN

/ {
  behaviors {
    ltsk: layer_tap_sticky_key {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&osm>;
    };

    // Macro to tap Ergo‑L’s ODK before the specified key
    odk: one_dead_key_macro {
      compatible = "zmk,behavior-dead-key";
      #binding-cells = <1>;
      dead-key = <O>;
    };

    TWO_LEVEL_KEY(dead_key, &EZ_SL(LAYER_ODK), &kp LS(O))
    TWO_LEVEL_KEY(em_dash, &odk V, &odk B)
  };

  combos {
    compatible= "zmk,combos";

    #define HOME_ROW 12
    #define BOT_ROW  24

    #define LRING   2
    #define LMIDDLE 3
    #define LINDEX  4
    #define RINDEX  7
    #define RMIDDLE 8
    #define RRING   9

    compose_sd {
      key-positions = <(HOME_ROW + LRING) (HOME_ROW + LMIDDLE)>;
      bindings = <&kp NUBS>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    enter_df {
      key-positions = <(HOME_ROW + LMIDDLE) (HOME_ROW + LINDEX)>;
      bindings = <&kp ENTER>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    delete_word_kj {
      key-positions = <(HOME_ROW + RINDEX) (HOME_ROW + RMIDDLE)>;
      bindings = <&kp LC(BSPC)>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

    caps_word_lk {
      key-positions = <(HOME_ROW + RMIDDLE) (HOME_ROW + RRING)>;
      /* bindings = <&caps_word>; */
      bindings = <&kp CAPSLOCK>;
      timeout-ms = <COMBO_TIMEOUT_MS>;
      require-prior-idle-ms = <COMBO_LOCK_MS>;
      layers = <LAYER_BASE>;
    };

  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &kp Q &kp W &kp E &kp R &kp T   ,   &kp N &kp U &kp I     &dead_key &kp P    , &none  ,
        &none , HRM_A HRM_S HRM_D HRM_F &kp G   ,   &kp H HRM_J HRM_K     HRM_L     HRM_SEMI , &none  ,
        &none , &none &kp X &kp C &kp V &none   ,   &none &kp M &kp COMMA &kp DOT   &none    , &none  ,
     &hrm LGUI ESCAPE , &ltsk LAYER_VIM_NAV LSHFT , &osl LAYER_MIRROR   ,   &kp ENTER , &lt LAYER_SYMBOLS SPACE , &sc LAYER_NUM_ROW BSPC
      )>;
    };

    mirror_layer {
      display-name = "Mirror";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &kp P    &dead_key &kp I     &kp U &kp N   ,   &none &none &none &none &none , &none  ,
        &none , &kp SEMI &kp L     &kp K     &kp L &kp H   ,   &none &none &none &none &none , &none  ,
        &none , &none    &kp DOT   &kp COMMA &kp M &none   ,   &none &none &none &none &none , &none  ,
        &hrm LGUI ESCAPE , &ltsk LAYER_VIM_NAV LSHFT , &none   ,   &none , &lt LAYER_SYMBOLS SPACE , &lt LAYER_NUM_ROW BSPC
      )>;
    };

    symbols_layer {
      display-name = "Symbols";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &trans , S_AT    S_LT    S_GT    S_DLLR  S_PRCNT   ,    S_CARET S_AMPS  S_STAR  S_SQT   S_GRAVE  , &trans  ,
        &trans , S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL   ,    S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT    , &trans  ,
        &trans , S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH    ,    S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK  , &trans  ,
        &EZ_SL(LAYER_NUM_ROW) , &lt LAYER_NUM_ROW SPACE , &none   ,   &trans , &kp RALT , &trans
      )>;
    };

    super_odk {
      display-name = "SuperOneDeadKey";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &odk Q &odk W &odk E &odk R   &kp Z   ,   &odk N &kp Y    &odk I     &odk O   &odk P    , &none  ,
        &none , &odk A &odk S &odk D &odk F   &kp B   ,   &odk H &odk J   &odk K     &odk L   &odk SEMI , &none  ,
        &none , &none  &odk Z &odk C &em_dash &none   ,   &none  &kp FSLH &odk COMMA &odk DOT &none     , &none  ,
                   &kp LALT , &EZ_SK(LSHFT) , &none   ,   &none , &odk SPACE , &kp RALT
      )>;
    };

    vim_nav {
      display-name = "VimNav";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , X_UNDO X_MUTE X_VOLUP X_VOLDN X_BRIUP   ,   &kp HOME &kp PG_DN &kp PG_UP &kp END   &none , &none  ,
        &none , X_ALL  X_SAVE X_SHTAB &kp TAB X_BRIDN   ,   &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none , &none  ,
        &none , &none  X_CUT  X_COPY  X_PASTE &none     ,   &none    X_GAME_EL X_GAME_QW &none     &none , &none  ,
                        &kp LALT , &kp LCTL , &none     ,   &none , &kp ENTER , &kp RALT
      )>;
    };

    num_row {
      display-name = "NumRow";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &kp LS(N1) &kp LS(N2) &kp LS(N3) S_HASH &kp LS(N5)  ,    &none  S_PIPE   S_MULT &kp O   &none  , &none  ,
        &none , &kp N1     &kp N2     &kp N3     &kp N4 &kp N5      ,    &kp N6 &kp N7   &kp N8 &kp N9  &kp N0 , &none  ,
        &none , &none      S_TILDE    S_QMARK    &odk V &none       ,    &none  S_COMMA  S_DOT  S_COLON &none  , &none  ,
                             &kp SPACE , &kp LS(SPACE) , &none      ,    &none , &odk SPACE , &kp RALT
      )>;
    };

    gaming_ergol {
      display-name = "GamingErgol";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &kp LCTL &kp Q &kp W &kp E &kp R   ,    &kp N &kp U &kp I     &dead_key X_BASE   , &none  ,
        &none , &kp LSFT &kp A &kp S &kp D &kp F   ,    &kp H &kp J &kp K     &kp L     &kp SEMI , &none  ,
        &none , &none    &kp X &kp C &kp V &none   ,    &none &kp M &kp COMMA &kp DOT   &none    , &none  ,
            &hrm LGUI ESCAPE , &kp SPACE , &none   ,    &none , &kp SPACE , &lt LAYER_NUM_ROW BSPC
      )>;
    };

    gaming_qwerty {
      display-name = "GamingQwerty";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &none , &kp LCTL &kp Q &kp T &kp D &kp J    ,   &kp J &kp K &kp COLON &kp L     X_BASE , &none  ,
        &none , &kp LSFT &kp A &kp S &kp I &kp G    ,   &kp M &kp N &kp Y     &kp FSLH  &kp H  , &none  ,
        &none , &none    &kp Z &kp X &kp W &none    ,   &none &kp F &kp U     &kp COMMA &none  , &none  ,
            &hrm LGUI ESCAPE , &kp SPACE , &none    ,   &none , &kp SPACE , &lt LAYER_NUM_ROW BSPC
      )>;
    };

  };
};
